/* ==== 
 --------- (2.3) global styles start ---------
 ==== */

.my-app {
  overflow-x: clip !important;

  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 0px;
  outline: 0px;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.slick-slide {
  margin: 0px 15px;

  img {
    display: inline-block;
  }
}

.slick-list {
  margin: 0px -15px;
}

.unset {
  max-width: unset;
}

.bg-img {
  @include background($theme-color, no-repeat, cover, center center);
}

.dir-rtl {
  direction: rtl;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-tertiary {
  background-color: $tertiary-color;
}

.bg-quaternary {
  background-color: $quaternary-color;
}

.bg-quinary {
  background-color: $quinary-color;
}

.bg-senary {
  background-color: $senary-color;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}

.text-quaternary {
  color: $quaternary-color;
}

.text-quinary {
  color: $quinary-color;
}

.text-senary {
  color: $senary-color;
}

.section {
  padding: 140px 0px;
  position: relative;
  z-index: 1;
  overflow-x: clip !important;
}

.section__cta {
  margin-top: 65px;
}

.section__content-cta {
  margin-top: 65px;
}

.items-gap {
  row-gap: 30px;
}

.items-gap-two {
  row-gap: 60px;
}

.section__header {
  margin-bottom: 65px;
  text-align: center;
  margin-top: -10px;
  .h2 {
    font-weight: 700;
  }

  p {
    color: $white;
    margin-top: 20px;
  }

  .max-5 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section__header--secondary {
  margin-bottom: 65px;
  margin-top: -10px;
}

.section__content {
  margin-top: -10px;
  .paragraph {
    margin-top: 30px;
    p {
      margin-bottom: 30px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }
  }
}

.breadcrumb {
  margin-bottom: 0px;
  margin-top: 30px;
  .breadcrumb-item,
  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $white;
    a {
      &:hover {
        color: $septenary-color;
      }
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 12px;
    &::before {
      padding-right: 12px;
      content: "/";
      font-weight: 600;
      color: $white;
    }
  }

  .active {
    color: $white;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  a {
    color: #ffffff70;
    &:hover {
      color: $secondary-color;
    }

    i {
      transition: none;
    }
  }
}

.cmn-pagination {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;

  .swiper-pagination-bullet {
    width: 28px;
    height: 28px;
    min-width: 28px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    transition: $transition;
    border-radius: 50%;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: $septenary-color;
      border-radius: 50%;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid $septenary-color;
  }
}

.cmn-pagination-light {
  .swiper-pagination-bullet {
    &::before {
      background-color: $primary-color;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid $primary-color;
  }
}

@keyframes anime {
  0%,
  100% {
    opacity: 0.3;
    transform: translateX(0px);
  }
  80% {
    opacity: 1;
    transform: translateX(20px);
  }
}

@keyframes animeTwo {
  0%,
  100% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
}

@keyframes lr {
  0%,
  100% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(15px);
  }
}

@keyframes tb {
  0%,
  100% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(15px);
  }
}

.slide-btn {
  @include box(70px);
  border: 0px;
  transition: $transition;
  background-color: $secondary-color;
  color: $white;
  font-size: 20px;
  z-index: 2;
  &:hover {
    color: $white;
    background-color: $quinary-color;
  }
}

.grd {
  background: linear-gradient(90.05deg, #e0013f 23.44%, #7600ab 99.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.7);
    opacity: 0;
  }
}

.video-wrap {
  a {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      border-radius: 50%;
      background-color: inherit;
      opacity: 0.8;
      z-index: -1;
      animation: wave 3s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      border-radius: 50%;
      background-color: inherit;
      opacity: 0.4;
      z-index: -2;
      animation: wave 6s linear infinite;
      animation-delay: 1s;
    }
  }
}

.accordion-collapse {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: block !important;
  transition: all 0.6s ease-in;
}

.accordion-collapse.show {
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

.slick-slide {
  margin: 0px 15px;

  img {
    display: inline-block;
  }
}

.slick-list {
  margin: 0px -15px;
}

// custom video modal
.video-backdrop {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  z-index: 99999 !important;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.video-inner {
  max-width: 100%;
  height: calc(100% - 120px);
  max-height: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  overflow-y: auto;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.video-zoom-in {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  .video-container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.video-container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  transition-delay: 0.3s;
}

.video {
  width: 100%;
  height: 100%;
  border: 0px;
}

.close-video-popup {
  position: absolute;
  top: -60px;
  right: -6px;
  background-color: transparent;
  font-size: 30px;
  box-shadow: none;
  border: 0px;
  color: white;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: white;
  }
}

@media only screen and (max-width: 991.98px) {
  .video-container {
    max-width: 540px;
    max-height: 300px;
  }

  .close-video-popup {
    top: -50px;
    font-size: 24px;
  }
}

/* ==== 
   --------- (2.3) global styles end ---------
   ==== */
